.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding-block: 6.4rem;
  gap: 1.2rem;
}

.footer__logo-img {
  width: 12.2rem;
}

.footer__copyright {
  text-align: center;
  max-width: 10rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .footer {
    gap: 2.4rem;
  }
  
  .footer__copyright {
    max-width: none;
    font-size: 2.4rem;
  }
}